<!DOCTYPE html>
<html>
<head>
	<title>angular study</title>
	<script type="text/javascript" src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
	<div ng-app="app" ng-controller="myCtrl" ng-init="sex='man'">
		姓名：<input type="text" name="name" ng-model="name" />
		年龄：<input type="text" name="age" ng-model="age" />
		<h3>你好，欢迎👏</h3>
		<h4>姓名：{{name}}</h4>
		年龄：<h4 ng-bind="age | currency"></h4>
		<h4>性别：{{sex}}</h4>
		兴趣爱好：<h4 ng-bind="hobby() | reverse"></h4>
	</div>
	<script type="text/javascript">
		var app = angular.module('app',[]);
		app.controller('myCtrl',function($scope) {
			$scope.name = "lulu";
			$scope.age = 19;
			$scope.hobby = 'drow picture, sing song';
			$scope.hobby = function(){
				var temp = $scope.name + ' ' + $scope.age + ' ' + $scope.sex;
				return temp;
			}
			// body...
		});
		app.filter('reverse', function() { //可以注入依赖
		    return function(text) {
		        return text.split(" ").reverse().join(" hey "); 
		    }
		});//自定义过滤器
	</script>
</body>
</html>